tempuri.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BizTalkServiceInstance" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <CreationInfo Created="2021-09-08 10:05:14Z" />
  </wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:tns="http://schemas.microsoft.com/Message" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="MessageBody">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://tempuri.org/Imports" targetNamespace="http://tempuri.org/Imports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import />
    </xs:schema>
    <xs:schema xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://tempuri.org" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:annotation>
        <xs:appinfo>
          <b:schemaInfo schema_type="document" />
        </xs:appinfo>
      </xs:annotation>
      <xs:element name="Orders">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Order">
              <xs:complexType>
                <xs:sequence minOccurs="0">
                  <xs:element name="OrderID" type="xs:integer" />
                  <xs:element name="OrderName" type="xs:string" />
                  <xs:element name="OrderDate" type="xs:string" />
                  <xs:element name="Items">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="Item">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="ID" type="xs:integer" />
                              <xs:element name="Name" type="xs:string" />
                              <xs:element name="Company" type="xs:string" />
                              <xs:element name="Price" type="xs:integer" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="WcfService_CreatingFlatFiles_Operation_1_InputMessage">
    <wsdl:part name="part" element="Orders" />
  </wsdl:message>
  <wsdl:message name="WcfService_CreatingFlatFiles_Operation_1_OutputMessage" />
  <wsdl:portType name="WcfService_CreatingFlatFiles">
    <wsdl:documentation>service "*" port "*"</wsdl:documentation>
    <wsdl:operation name="Operation_1">
      <wsdl:documentation>operation "Operation_1"</wsdl:documentation>
      <wsdl:input message="tns:WcfService_CreatingFlatFiles_Operation_1_InputMessage" />
      <wsdl:output message="tns:WcfService_CreatingFlatFiles_Operation_1_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITwoWayAsyncVoid" type="tns:WcfService_CreatingFlatFiles">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Operation_1">
      <wsdl:documentation>operation "Operation_1"</wsdl:documentation>
      <soap:operation soapAction="Operation_1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BizTalkServiceInstance">
    <wsdl:port name="BasicHttpBinding_ITwoWayAsyncVoid" binding="tns:BasicHttpBinding_ITwoWayAsyncVoid">
      <soap:address location="http://laptop-1jttnlkt/CreatingFlatFiles/WcfService_CreatingFlatFiles.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>